[flake8]
# E501: line too long error (this will be handled by Black)
# E402: module level import not at top of file
# W503: line break before binary operator (this is not PEP8-compliant)
# E203: whitespace before ':' (this is not PEP8-compliant)
#
# More info about the comments above: https://github.com/psf/black
ignore =
    E501,
    E402,
    W503,
    E203
exclude =
    .venv*
show-source = true
statistics = true
