[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autobuild = "*"

[packages]
django-bulk-update = "*"
django-chunkator = "*"

[requires]
python_version = "3.7"
