version: 2.1


commands:
  run_tox:
    steps:
      - run: pip install tox --user circleci && tox -e $CIRCLE_JOB


jobs:
  py27-django18:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run_tox

  py27-django111:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run_tox

  py36-django2:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run_tox

  py-lint:
    docker:
      # This CircleCI image includes both Python 2 and Python 3, so it allows
      # us to create virtualenvs for both versions
      - image: circleci/python:3.7.4-stretch-node
    steps:
      - checkout

      - run:
          name: create virtualenvs
          command: |
            virtualenv --python=python2 .venv2
            . .venv2/bin/activate
            pip install flake8==3.3.0

            virtualenv --python=python3 .venv3
            . .venv3/bin/activate
            pip install black==19.10b0 isort==4.3.21

      - run:
          name: Black check
          command: |
            . .venv3/bin/activate
            black --safe --check --diff .

      - run:
          name: Lint check
          command: |
            . .venv2/bin/activate
            flake8 --config=.flake8

      - run:
          name: isort check
          command: |
            . .venv3/bin/activate
            isort -rc --check-only .


workflows:
  version: 2
  build-all:
    jobs:
      - py-lint
      - py27-django18
          requires: [py-lint]
      - py27-django111
          requires: [py-lint]
      - py36-django2
          requires: [py-lint]
